.trackListPage {
  margin: 20px;
}

.trackListPage-track {
  display: flex;
  margin-bottom: 30px;
}

.trackListPage-noOverflow {
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.trackListPage-trackInfo {
  width: 200px;
  margin-left: 20px;
}

.trackListPage-button {
  width: 100%;
}

.trackListPage-thumb {
  height: 5em;
}